<div class="toolbar" role="banner">
    <img id="ChurchLogo"
      alt="Vmeste Logo"
      src="assets/VMESTE-logo.jpg"
      (click)="Sidenav()"
      [@stateAnimation]="sidenav"
    />
    <!-- <span>VMESTE Молодежная Церковь</span>
      -->
    <div class="logo-container  ">
    
      <a id="logo" class="tooltip" target="_blank" rel="noopener" href= "{{ instagramm }}" >
        <span class="tooltiptext">Instagramm</span>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" width="50" height="50">
    </a>
    <a id="logo" class="tooltip" target="_blank" rel="noopener" href= "{{ youtube }}" title="youtube">
      <span class="tooltiptext">Youtube</span>
      <img src="assets/Youtube.png" width="70" height="50">
    </a>
    
  </div>
      
  </div>