
<div>
<div class="pritcha">
    И, приступив, ученики сказали Ему: для чего притчами говоришь им? Он сказал им в ответ: для того, что вам дано знать тайны Царствия Небесного, а им не дано, ибо кто имеет, тому дано будет и приумножится, а кто не имеет, у того отнимется и то, что имеет; потому говорю им притчами, что они видя не видят, и слыша не слышат, и не разумеют
</div>
<div class="news">
    <h1>1 октября у Никиты и Данила День рождения!</h1>
</div>
<div class="video">
    there is a video galerey
</div>
<div class="photo">
   there is instphoto
</div>
</div>

