/* You can add global styles to this file, and also import other style files */
/* ::-webkit-scrollbar { 
  width: 0px;  
  background: transparent;  
} */
html, body { 
  height: 100%; 
  width: 100%;
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */ 
  margin: 0;
  padding: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* body {
    background-image: url(assets/star.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  } */
  /* body {
      background: linear-gradient(to bottom, rgba(229,243,12,0.3), rgba(243,61,12,0.4), rgba(12,99,243,0.3));
     /position: fixed;// делает контент фиксированым и не перематываемым
  }*/
 
  footer {
      bottom: 0px;
      
  }
  .pritcha{
    Font-family: 'Lora', serif;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 40px;
  max-width: 800px;
  width: 100%;
  position: relative;
  color: #000000;
  background-image: url(assets/papirus.jpg);
  background-size: cover;
}